#1.1 Simple Echange


```
A,B <- input()
C <- 0

C = A // C prends la valeur de A. Puis on intervertit les deux valeurs

A = B

B = C
```

In [ ]:
A = 2 
B = 3
C = 0

C = A
A = B
B = C

print (A,B,C)

3 2 2

#1.2 Le carré

```
a <- input(nombre) //L'utilisateur rentre un nombre
A <- int(a)
print(A*A) //On affiche le carré du nombre
```

In [ ]:
a = input('entrer un nombre')
A = int(a) # On force le typage pour ne pas avoir de soucis
print(A*A)

entrer un nombre8
64

#1.3 La condition 

```
a <- input(nombre) //L'utilisateur rentre un nombre
A = int(a)
Si A < 0
  alors le nombre est négatif

Si A = 0 
  alors le nombre est positif

Sinon
  le nombre est positif

```

In [ ]:
a = input('Entrer un nombre')
A = int(a)
if A < 0 :
  print('Le nombre est négatif')
elif A == 0 :
  print('Le nombre est positif')
else :
  print('Le nombre est positif')

Entrer un nombre0
Le nombre est positif

#1.4 Le Produit

```
a, b <- input(nb)
A, B = int(a), int(b)

Si A ou B sont < 0
  alors le produit est négatif

Si A = 0 ou B = 0 
  alors le produit est positif

Sinon 
  le produit est négatif
```

In [ ]:
a = input('Entrez un nombre :')
b = input('Entrez un autre nombre :')

A,B = int(a), int(b)

if A < 0 or B < 0 :
  print('Le produit est négatif')

elif A == 0 or B == 0 :
  print('Le produit est positif')
else :
  print('Le produit est positif')

Entrez un nombre :9
Entrez un autre nombre :9
Le produit est positif

#1.5 Le calcul

```
a <- input
A = int(a)

liste = []
On ajoute A à notre liste vide

Pour i entre (1,10) :
  add = a+i
  on ajoute add à la liste vide

On affiche la liste

```

In [ ]:
a = input('Entrez un nombre')

A = int(a)
result = []
result.append(A)

for i in range(1,11) :
  add = A+i
  result.append(add)

print(result)

Entrez un nombre-5
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

#1.6 L'additivité

```
a <- input
A = int(a)

result = 0 //init 

pour i entre (0, A):
  result += i

Afficher le résultat

```

In [ ]:
a = input('Entrez un nombre')
A = int(a)

result = 0

for i in range(A+1):
  result += i
print(result)

Entrez un nombre10
55

#2 Les Tableaux
##2.1 La somme 

```
tableau = [] #Init du tableau
result = 0 #intitialisation du résultat

Pour i dans tableau 
  On ajoute tableau[i] à result

Affiche result

```

In [2]:
tableau = [1,2,3,4,5]

result = 0

for i in tableau :
  result += tableau[i-1]

print(result)

15

#2.2 La somme : le retour
```
tableau1, tableau2 <- tableau à rentrer

result <- tableau final

si len(tableau1) == len(tableau2) 
  pour i in tableau1 
    pour j in tableau2
      a = tableau1[i] + tableau[j]
      result.append(a)

Afficher tableau1, tableau2, result
```

In [22]:
from random import randint
tableau1 = [randint(0,20) for _ in range(5)]
tableau2 = [randint(0,20) for _ in range(5)]

result = []
taille = 5
i = 0

while i < taille :
  result.append(tableau1[i] + tableau2[i])
  i += 1
print(tableau1, tableau2, result)

[5, 8, 7, 1, 5] [3, 14, 20, 19, 19] [8, 22, 27, 20, 24]

#2.3 Facproduct

```
tableau1, tableau2 <- tableau

result = 0 

if len(tableau1) == len(tableau2)
  alors on multiplie l'élément du tableau1 avec l'élément du tableau2 qu'on stock dans a
  On ajoute a au result

print(result)
```

In [24]:
from random import randint
tableau1 = [randint(0,20) for _ in range(5)]
tableau2 = [randint(0,20) for _ in range(5)]

result = 0

if len(tableau1) == len(tableau2) :
  for i in tableau1:
    for j in tableau2:
      a = tableau1[i-1]*tableau2[j-1] #je ne comprends pas pourquoi ça ne fonctionne pas
      result += a

  print(result)

IndexError: ignored